@import "../../../vars.module.scss";

.user {
   width: 100%;
   display: flex;
   align-items: center;
   padding: 5px 0px;
   .logo {
      flex: 0 0 18%;
      height: 100%;
      max-height: 100%;
      aspect-ratio: 1/1;
      img {
         width: 100%;
         border-radius: 99px;
         height: 100%;
         object-fit: cover;
      }
   }
   .info {
      flex: 1;
      max-width: 85%;
      padding: 10px 10px;
      .top {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 0px 0px 10px 0px;
         .about {
            display: flex;
            align-items: end;
            gap: 5px;
            .username {
               color: #fff;
               font-size: 16px;
               font-weight: 600;
            }
            span {
               color: $color1;
               font-size: 13px;
               font-weight: 600;
            }
         }
      }
      button {
         font-size: 12px !important;
         padding: 5px 10px !important;
      }
   }
}
