@import "../../vars.module.scss";

.wrapper {
   height: 100vh;
   // padding: 10px 10px;
   background-color: $mainBack;
}
.main {
   height: 100%;
   min-height: 300px;
   padding: 10px 10px;
   display: flex;
   flex-direction: column;
   .header{
      background-color: $color3;
      margin: 0px 0px 10px 0px;
      border-radius: $borderR;
      padding: 10px 10px;
      text-align: center;
      color: $colorBtn;
   }
   .user{
      height: calc(100% - 44px);
      display: flex;      
      gap: 10px;
   }
}
.select {
   background-color: $color3;
   max-width: 400px;
   flex: 0 0 400px;
   display: flex;
   flex-direction: column;
   // border-right: 3px solid $color3;
   border-radius: $borderR;
}
.search {
   padding: 10px 10px;
   input {
      width: 100%;
      background-color: transparent;
      border: 2px solid $color1;
      border-radius: 99px;
      padding: 8px 15px;
      transition: 0.2s;
      font-weight: 600;
      font-size: 16px;
      color: #ffffff;
      &::placeholder {
         color: $color2;
         font-weight: 500;
         font-size: 14px;
      }
      &:focus {
         border-color: #bcbcbc;
         background-color: #ffffff1e;
      }
   }
}
.users {
   padding: 0px 0px;
   flex: 1;
   overflow: hidden;
   overflow-y: scroll;
   &::-webkit-scrollbar {
      border-radius: 99px;
      width: 5px;
      overflow: hidden;
   }
   &::-webkit-scrollbar-button {
      display: none;
   }
   &::-webkit-scrollbar-corner {
   }
   &::-webkit-scrollbar-thumb {
      background-color: #232323;
      border-radius: 99px;
   }
   &::-webkit-scrollbar-track {
   }
   &::-webkit-scrollbar-track-piece {
   }
}
.setings {
   display: flex;
   justify-content: center;
   padding: 10px 10px;
   button {
      width: 100%;
      background-color:$colorBtn !important;
      color: #cfcfcf !important;
      padding: 8px 0px !important;
   }
}
