@import '../../../vars.module.scss';

.write {
   background-color: $color4;
   display: flex;
   justify-content: center;
   padding: 10px 20px;
   height: 50px;
   border-top: 2px solid $mainBack;
   gap: 10px;
   input {
      flex: 1;
      background-color: transparent;
      border-radius: 99px;
      height: 100%;
      border: 2px solid $color1;
      color: #fff;
      padding: 7px 15px;
   }
}