.wrapper{
   display: flex;
   align-items: center;
   min-height: 100vh;
}

.main{
   max-width: 500px;
   margin: 0 auto;
   border: 2px solid #000;
   border-radius: 20px;
   overflow: hidden;
   padding: 20px 20px;
   flex: 0 1 500px;
   background-color: #fff;

}